$break-small: 320px;
$break-tablet: 768px;
$break-large: 920px;
$break-notebook: 1020px;
$break-extra-large: 1200px;
$break-super-large: 1920px;
@mixin mobile {
    @media only screen and (min-width: #{$break-small}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$break-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$break-large}) {
        @content;
    }
}

@mixin notebook {
    @media only screen and (min-width: #{$break-notebook}) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: #{$break-extra-large}) {
        @content;
    }
}

@mixin ex-large {
    @media only screen and (min-width: #{$break-super-large}) {
        @content;
    }
}